extends ../../layouts/default.pug

block main
  // Kết nối với tệp CSS
  link(rel="stylesheet", href="/css/warrantypolicy.css")
  
  .warranty-policy
    h1.warranty-title Chính sách bảo hành và đổi trả
    
    main.warranty-content
      p.warranty-description Khách hàng muốn bảo hành, đổi trả sản phẩm chọn 1 trong các phương thức bên dưới:
      
      img.warranty-image(
        alt="Warranty Process Step 1" 
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/85d2982956c92142e0403c4e87245a68f55ebc9103319e1b2316430fdc9366f5?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c"
      )
      
      img.warranty-image-2(
        alt="Warranty Process Step 2" 
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/0d690aea24f8fa98f5f7f567edabed3787dde51a8a551d658f8e2f70c8778ec1?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c"
      )
      
      img.warranty-image-3(
        alt="Warranty Process Step 3" 
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/5817c21963dabad967a63b492efa68a3d932aeed4c8d6d3c72fbb27012485ade?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c"
      )
      
      p.warranty-note
        | Ghi chú: Chính sách đổi trả cho chuỗi Topzone sẽ giống TGDĐ ngoại trừ: Topzone không có chính sách đổi trả cho máy đã qua sử dụng/ trưng bày bỏ mẫu vì Topzone không có kinh doanh sản phẩm đã qua sử dụng/trưng bày bỏ mẫu. TopZone cũng sẽ không áp dụng chính sách bảo hành/đổi trả cho sản phẩm khuyến mãi. Trong trường hợp sản phẩm của khách hàng gặp vấn đề hoặc có nhu cầu về đổi trả, hoàn tiền, quý khách có thể lựa chọn 1 trong 2 cách sau để thông tin về lỗi của sản phẩm và sẽ được nhân viên hỗ trợ chi tiết về quy trình bảo hành, đổi trả sản phẩm:
        br
        | - Liên hệ đến tổng đài: 1900.8668.54 (7:30 - 22:00).
        br
        | - Ghé trực tiếp siêu thị TopZone bất kỳ để được hỗ trợ.
