.footer
  link(rel="stylesheet" href="/css/footer.css")
  img.img-26(
    alt="Company logo" 
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/7c9f7223d4e2fb66eebd5b816fe87c4ea98c38aa59cd9d22ad51b4d54fae8414?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c" 
    loading="lazy"
    )
  .div-27
    .div-28
      .column-21
        .div-29
          div(
            aria-level="2" 
            role="heading" 
            class="hỗ-trợ-khach-hang"
            ) HỖ TRỢ KHÁCH HÀNG
          nav.div-30(aria-label="Customer support links")
            a.hover-link(
              class="diều-kiện-giao-dịch-chung" 
              href="/transactionconditions"
              ) Điều kiện giao dịch chung
            a.hover-link(
              class="hướng-dẫn-mua-hang-online" 
              href="/guidebuyonline"
              ) Hướng dẫn mua hàng online
            a.chinh-sach-giao-hang.hover-link(href="/shippingpolicy") Chính sách giao hàng
            a.hover-link(
              class="hướng-dẫn-thanh-toan" 
              href="/paymentguide"
              ) Hướng dẫn thanh toán
      .column-22
        .div-31
          .chinh-sach-chung(
            aria-level="2" 
            role="heading"
            ) CHÍNH SÁCH CHUNG
          nav.div-32(aria-label="General policies links")
            a.hover-link(href="/paymentterms") Điều khoản thanh toán
            a.hover-link(
              class="chinh-sach-bảo-hành" 
              href="/warrantypolicy"
              ) Chính sách bảo hành
            a.hover-link(
              class="chinh-sach-bảo-mật" 
              href="/privacypolicy"
              ) Chính sách bảo mật
            a.hover-link(
              class="chinh-sach-dổi-trả" 
              href="/returnpolicy"
              ) Chính sách đổi trả
      .column-23
        .div-33
          div(
            aria-level="2" 
            role="heading" 
            class="lien-hệ-hỗ-trợ"
            ) LIÊN HỆ HỖ TRỢ
          .div-34
            a.hover-link(href="tel:0987123456") Hotline 1: 0987123456
            a.hotline-2-0345126789.hover-link(href="tel:0345126789") Hotline 2: 0345126789
            a.email-topzonedemo-123-gmail-com.hover-link(href="mailto:Topzonedemo123@gmail.com") Email: Topzonedemo123@gmail.com
      .column-24
        .div-35
          .theo-doi-chung-toi(
            aria-level="2" 
            role="heading"
            ) THEO DÕI CHÚNG TÔI
          .div-36
            a.social-link(
              aria-label="Facebook" 
              href="#"
              )
              img.img-27(
                alt="Facebook icon" 
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/637a45848f25b6cc5c19ea2b54ba93eef6f2f6cb91551d7833f0b3cbcc9353e1?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c" 
                loading="lazy"
                )
            a.social-link(
              aria-label="Twitter" 
              href="#"
              )
              img.img-28(
                alt="Twitter icon" 
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/098e5edd4d9299776a427a9d0948e9f830a0b8f12699bde9c6cf67782ef023e4?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c" 
                loading="lazy"
                )
            a.social-link(
              aria-label="Instagram" 
              href="#"
              )
              img.img-29(
                alt="Instagram icon" 
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/3c96a2383fd14ae5810338cf4a2e25456e67aa3a339138baae21f0005fbd96d7?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c" 
                loading="lazy"
                )
            a.social-link(
              aria-label="YouTube" 
              href="#"
              )
              img.img-30(
                alt="YouTube icon" 
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/dab001b9c6d9b9f9e572a9d0f33626aa1b5730620fa68466d3c98ec0b4f5be62?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c" 
                loading="lazy"
                )