extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
  +alert-success(2000)
  +alert-error(2000)

  .container.my-3 
    .row 
      .col-12 
        div(class="text-white")
          +box-head("Thanh toán")

    .row 
      .col-12 
        div.order-content
          div.order-container
            div.order-header
              h1.order-title Phương thức thanh toán

            div.order-table
              div.order-table-header
                div.header-item.product Sản phẩm
                div.header-item.price Đơn giá
                div.header-item.quantity Số lượng
                div.header-item.total Số tiền

              div.order-items
                if(cartDetail.products.length > 0)
                  each item in cartDetail.products
                    div.order-item(role="row")
                      input(
                        type="checkbox"
                        id=`item${item.product_id}`
                        class="order-select"
                        aria-label=`Select ${item.productInfo ? item.productInfo.title : 'Sản phẩm không xác định'}`
                      )
                      img(src=item.productInfo ? item.productInfo.thumbnail : '#', alt=item.productInfo ? item.productInfo.title : 'Sản phẩm không xác định', class="product-image")
                      span(role="cell", class="product-name") #{item.productInfo ? item.productInfo.title : 'Sản phẩm không xác định'}
                      span(role="cell", class="product-price") #{item.productInfo ? item.productInfo.priceNew : '0₫'}₫
                else 
                  p Không có sản phẩm nào trong giỏ hàng!

            div.order-summary
              div.summary-row.subtotal
                span Tổng tiền tạm tính:
                span.amount #{cartDetail.totalPrice}₫

              div.order-actions
                button.btn-checkout(onclick="handleCheckout()") Thực hiện thanh toán
                a(href="/") 
                  button.btn-continue Tiếp tục mua hàng